// Buy Tickets Button
.btn {
    @include mi-14-semi-white;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #3a8ea5;
    text-decoration: none;
    border-radius: 3px;
    height: 36px;
    width: 109px;
}

.btn:hover {
    background-color: $ultrablue-30;
}

.btn:focus {
    border: 1px solid $ultrablue-60;
    background-color: $ultrablue-40;
}

.btn:visited {
    @include mi-14-semi-ub30;
    background-color: $ultrablue-50;
    border: 1px solide $ultrablue-50;
}