/*===============================
    Info Panel Component Styles 
=================================*/

// InfoPanel Container
.graph-container {
    width: 100%;
}

.section-header {
    display: flex;
    justify-content: space-between;
}

.title {
    @include mi-20-semi-mocha80;
}

.general-text {
    @include mi-14-reg-mocha60;
}

#sub-title {
    margin-top: 6px;
}

.right-align {
    text-align: end;
}

.small-text {
    @include mi-12-reg-mocha60;
}

// Line Graph and Progress Bars
.stats-row {
    display: grid;
    margin: 30px 0 24px 0;
    height: 189px;
    gap: 22.5px;
    grid-template-areas: 'line-chart line-chart stat-1' 'line-chart line-chart stat-2';
    & .graph {
        grid-area: line-chart;
        max-height: 250px;
        width: 100%;
        margin: auto 0;
    }
}

.analysis-semi {
    @include mi-14-semi-mocha60;
}

#update-text {
    display: flex;
    justify-content: flex-end;
    min-width: 180px;
}

#update-div {
    margin-top: 5px;
}

// SVG clock for update
.clock {
    height: 12px;
    transform: translate(-3px, 2.5px);
    color: $mocha-80;
}

.stat-one {
    grid-area: stat-1;
    min-width: 242px;
    margin-top: 5px;
}

.stat-two {
    margin-top: 25px;
    grid-area: stat-2;
}

@media #{$sm-screen} {
    .right-align {
        text-align: start;
    }
    .section-header {
        display: grid;
        height: max-content;
    }
    .graph-text {
        margin: 0;
    }
    .stats-row {
        grid-template-areas: 'line-chart' 'stat-1' 'stat-2';
    }
    #mobile-margin {
        margin-top: 155px;
    }
    #update-text {
        justify-content: flex-start;
    }
    .clock {
        transform: translate(0, 7.5px);
        margin-right: .25rem;
    }
}