/*===============================
    Color Variation 
=================================*/


/** Mocha Color Palette **/

$white: #FFFFFF;
$mocha-5: #F7F6F6;
$mocha-10: #EEECEC;
$mocha-20: #DFDEDE;
$mocha-30: #BFBEBC;
$mocha-40: #9F9D9B;
$mocha-50: #7F7D79;
$mocha-60: #5F5C58;
$mocha-70: #474542;
$mocha-80: #302E2C;

/** Ultrablue Color Palette **/

$ultrablue-5: #E8F2F4;
$ultrablue-10: #CEE3E8;
$ultrablue-20: #9DC7D2;
$ultrablue-30: #6BAABB;
$ultrablue-40: #3A8EA5;
$ultrablue-50: #09728E;
$ultrablue-60: #07566B;
$ultrablue-70: #04485B;
$ultrablue-80: #053947;

/** Accent Color Palette **/

$green-acknowlege: #4FA806;
$red-hi-alert: #E42508;
$orange-alert: #E4A206;
$gold-accent: #F7E0AA;
$vibrant: #8FE1FF;

/** Shadows **/

$shadow: 0 1px 4px #969696b3;