/*=========================
    Section Separation 
==========================*/

.no-space {
    margin: 0;
    padding: 0;
}

.spacer-4 {
    margin: 4px;
}

.spacer-8 {
    margin: 8px;
}

.spacer-12 {
    margin: 12px;
}

.spacer-16 {
    margin: 16px;
}

.spacer-20 {
    margin: 20px;
}

.spacer-24 {
    margin: 24px;
}

.spacer-32 {
    margin: 32px;
}

.spacer-40 {
    margin: 40px;
}

.spacer-48 {
    margin: 48px;
}

.spacer-64 {
    margin: 64px;
}

.spacer-96 {
    margin: 96px;
}