/*===============================
 Purchase Option Component Styles 
=================================*/

// Content Container for Purchase Option
.movie-container {
    margin: 20px 20px 0 20px;
}

.po-text {
    margin: 0;
    color: $mocha-80;
    & #puchaseDate {
        font-weight: $normal;
        font-size: $small;
    }
}

.po-title {
    @include mi-20-semi-mocha80;
}

// Container for Date and Buy Buttons
.flex-row {
    display: flex;
    justify-content: space-between;
    & .movie-date {
        @include mi-14-semi-mocha60;
    }
}

.buy-now {
    padding: 16px 0;
    align-items: center;
    height: 36px;
}

// Grey separator between purchase options
#bottom-grey {
    border-bottom: 1px solid RGB(223, 222, 222);
}

// Mobile Device Styles
@media #{$sm-screen} {
    .movie-container {
        margin: 20px;
    }
    .po-text {
        margin: 0;
    }
    .flex-row {
        display: flex;
        height: max-content;
    }
}