@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
$sm-screen: "only screen and (min-width: 320px) and (max-width: 599px)";
$md-screen: "only screen and (min-width: 600px) and (max-width: 1279px)";
$lg-screen: "only screen and (min-width: 1280px) and (max-width: 1920px)";
$shadow: 0 1px 4px rgba(150,
150,
150,
0.7);
$font: 'Open Sans',
sans-serif;
$primary: RGB(48,
46,
44);
$secondary: RGB(95,
92,
88);
$semibold: 600;
$normal: 400;

/*

*/

canvas {
    max-width: 100%;
    min-height: 189px;
}

// Global Styles
html {
    color: $secondary;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font;
    font-weight: $normal;
    font-size: 14px;
    color: #5F5C58;
    background-color: rgb(238, 236, 236);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// titles and text 
#sub-title {
    margin-top: 6px;
    color: $secondary;
}

#analysis {
    font-size: 14px;
    font-weight: $semibold;
    margin: 0;
}

#analysis-text {
    font-size: 14px;
    font-weight: $normal;
    margin: 0;
    padding: 0;
}

#no-margin {
    margin: 0;
    padding: 0;
}

.movie-date {
    font-size: 14px;
    font-weight: $semibold;
}

.wrapper {
    display: grid;
    gap: 8px;
    max-width: 888px;
    min-height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
}

// Info Card
.graph-container {
    width: 100%;
}

.top-container {
    display: grid;
    max-width: 808px;
    min-height: 375px;
    justify-content: center;
    align-items: center;
}

.info-card {
    background-color: white;
    padding: 20px;
    display: flex;
    box-shadow: $shadow;
    border-radius: 3px;
}

.stats-row {
    display: grid;
    margin: 30px 0 24px 0;
    height: 189px;
    gap: 22.5px;
    grid-template-areas: "line-chart line-chart stat-1" "line-chart line-chart stat-2";
}

.graph-text {
    margin: 0;
    color: $secondary;
}

.section-header {
    display: flex;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: $semibold;
    font-size: 20px;
    color: $primary;
}

.right-align {
    text-align: end;
}

#update {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    min-width: 180px;
}

#new-update {
    margin-top: 5px;
}

.clock {
    height: 12px;
    transform: translate(-2px, 2.5px);
}

// Line Graph
.graph {
    grid-area: line-chart;
    max-height: 250px;
    width: 100%;
    margin: auto 0;
}

// Horizontal Graph
.stat-1 {
    grid-area: stat-1;
    min-width: 242px;
    margin-top: 5px;
}

.stat-2 {
    margin-top: 25px;
    grid-area: stat-2;
}

.stat-number {
    font-size: 24px;
    color: $primary;
    margin: 0;
    padding-bottom: 0;
}

.stat-identifier {
    margin-top: 2px;
    font-size: 12px;
    font-weight: $normal;
    margin-bottom: 8px;
}

// Purchase Options Cards
.movies {
    background-color: white;
    display: grid;
    align-items: flex-start;
    box-shadow: $shadow;
    border-radius: 3px;
}

.movie-container {
    margin: 20px 20px 0 20px;
}

.clock-2 {
    height: 11px;
    transform: translate(0, 1px);
}

#release-date {
    display: grid;
    align-items: center;
    font-weight: $semibold;
    font-size: 14px;
    margin-top: 6px;
    p {
        color: $primary;
        margin-top: 6px;
    }
}

#puchaseDate {
    font-weight: $normal;
    font-size: 12px;
}

.btn {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #3a8ea5;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    height: 36px;
    width: 109px;
    font-weight: $semibold;
    font-size: 14px;
}

.buy-now {
    padding: 16px 0;
    align-items: center;
    height: 36px;
}

#bottom-grey {
    border-bottom: 1px solid RGB(223, 222, 222);
}

.bottom-container {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 808px;
}

@media #{$sm-screen} {
    body {
        line-height: 1.8rem;
    }
    canvas {
        min-height: 138px;
        max-height: 140px;
    }
    .bottom-container {
        grid-template-columns: 1fr;
    }
    .right-align {
        text-align: start;
    }
    .section-header {
        display: grid;
        height: max-content;
    }
    .flex-row {
        display: flex;
        height: max-content;
    }
    .movie-container {
        margin: 20px;
    }
    .graph-text {
        margin: 0;
    }
    .stats-row {
        grid-template-areas: 'line-chart' 'stat-1' 'stat-2';
    }
    #no-margin {
        margin-top: 155px;
    }
    #update {
        justify-content: flex-start;
    }
    .wrapper {
        height: max-content;
        padding: 20px;
    }
    .clock {
        transform: translate(0, 7.5px);
        margin-right: .25rem;
    }
}

@media #{$lg-screen} {
    canvas {
        min-width: 495.5px;
        min-height: 189px;
    }
}