/* 
*  Empty white container with curved edges
*  Uniform Shadow
*  Content centered by default
*/

.card-base {
    display: grid;
    max-width: 808px;
    min-height: 375px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 4px 24px;
    display: flex;
    box-shadow: $shadow;
    border-radius: 3px;
}