// Empty white container with curved edges and default shadow
.card-base {
    display: grid;
    max-width: 808px;
    min-height: 375px;
    justify-content: center;
    align-items: center;
    & .info-card {
        background-color: white;
        padding: 20px;
        display: flex;
        box-shadow: $shadow;
        border-radius: 3px;
    }
}